<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213704231787-jnrae12q749mgfrtq6lg9uii2373nd8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213704231787-jnrae12q749mgfrtq6lg9uii2373nd8o</string>
	<key>API_KEY</key>
	<string>AIzaSyA0DtatxkUty6OJl8hwztJAJPhN0P-GhWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>213704231787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emojicount.emojiCount</string>
	<key>PROJECT_ID</key>
	<string>emoji-4cbcb</string>
	<key>STORAGE_BUCKET</key>
	<string>emoji-4cbcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213704231787:ios:8d3e6d7bb61632def09a2e</string>
</dict>
</plist>